<form class="form w-50 responsive bg-warning p-4">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Enter Email</small>
    </div>

    <div class="form-group">
      <label for="pass">Password</label>
      <input type="password" name="pass" id="pass" class="form-control" placeholder="" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Enter Password</small>
    </div>
    <div class="form-inline">
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </div>
</form>
