<form class="form responsive w-50 p-4" style="background-color: #FFD54F">
    <div class="row">
        <div class="form-group col-6">
            <label for="">First Name</label>
            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group col-6">
            <label for="">Last Name</label>
            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group col-12">
            <label for="">Email</label>
            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group col-6">
            <label for="">Password</label>
            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-group col-6">
            <label for="">Confirm Password</label>
            <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
        </div>
        <div class="form-inline col">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button type="reset" class="btn btn-danger"> Reset </button>
        </div>
    </div>
</form>

